@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroRegular.ttf'); 
}

@media (min-width: 0px) {

  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

}

* {
	font-family: Intro;
}

.nopad {
   padding: 0px !important;
   margin: 0px !important;
}

h1 {
  font-size:24px; 
}

h2 {
  font-size:18px; 
}

a img{
	height: 30px;
}

.tophead {
	position: fixed !important;
	overflow: hidden;
	z-index: 99999;
}

.navbar-fixed-top {
	padding: 20px 10px 0px 10px;
	top: 130px;
	background-color: #f0f0f0;
}

.tab {
   margin-bottom:0px;
   background-color: #f0f0f0;
}
.tab-left {
   margin-bottom:0px;

}
.tab-right{
   margin-bottom:0px;
}


.info {
    text-align: center;
    background-color:#a9d161;
    box-shadow: inset 0px 1px 2px #000;
    height: 130px;
    margin: 0px;
	width: 100%;
    color: white;
}

.graph {
    width: 100%;
    border-radius: 7px;
}
.active {
    color: black;
}

.head_item_wrapper {
  text-align: center;
  vertical-align: middle;
}

.inner-tab-pane {
    background-color:white;
    padding: 20px;
	padding-top: 240px;
    border-radius: 7px;
}
.graph_image {
  
  padding: 15px 0 10px 0;
  width:100%;
}

.loan{
	float: left;
    padding: 5px;
    margin-top:2px;
	margin-left: 10px;
    background-color: #f1f1f1;
	border-color: black;
	border-width: 1px;
    box-shadow: 3px 3px 8px #000;
    margin: 10px;
    color: black;
	width: 31%;
	min-width: 200px;
}

.tab-pane {
    text-align:center
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.owned-assets, .store-assets {
    list-style:none;
    padding-left:0px; none;
}
.asset-info {
    text-align:center;
    position: fixed;
    right: 0%;
}
.asset{
    border: 1px solid black;
    border-radius: 3px;
    background-color: #95A5A6;
    padding: 5px;
}
.asset h3{
    float:left;
    padding-left: 10px;
}
.asset button{
    float:right;
    padding-right: 10px;
}

div.store, div.owned {
    border:1px solid black;
    position: fixed;
    height:50%;
    overflow-y:auto;
    text-align:center;
    border-radius:15px;
}
.fix {
    position:fixed;
}
.middle {
    left: 50%;
    transform: translate(-50%, 0);

}
.filler {
    padding-bottom: 100px;
    background-color: blue;
}
.asset-info-filler {
    padding-bottom: 100px;
    background-color: blue;

}

